/MBPM_Builds/
/MBPM_BuildFiles/
/.*
*.swp
/*/.*
/out
/compile_commands.json
/MBPM_FileInfo
/CMakeLists.txt
/Spec2.mbnf
/MBObjectSpec_Parser.cpp
/MBObjectSpec_Parser.h
/makefile
!.gitignore
/Input.json
/Output.json
/README.html
